<div class="container" style="width: 50rem;padding-top: 12%;">
    <mat-card style="background-color: rgb(227, 241, 249);">
        <div class="row">
            <h1 style="background-color: black; color: aliceblue; text-align:center;padding: 1.5% 0px 1.5% 0px;">LOGIN
                HERE</h1>
            <form [formGroup]="authForm" (ngSubmit)="onSubmit()">

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="test@gmail.com" formControlName="email">
                    <mat-error *ngIf="authForm.invalid">Invalid Email Format</mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-error *ngIf="authForm.invalid">Password should be at least 6 characters long</mat-error>
                </mat-form-field>

                <!-- <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" formControlName="email" class="form-control"
                                placeholder="sakshi@gmail.com" />
                        </div><br />
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" formControlName="password" class="form-control" />
                        </div><br /> -->

                <div class="d-grid gap-2">
                    <button class="btn btn-dark" type="submit" [disabled]="!authForm.valid">
                        LOGIN
                    </button>
                </div>

            </form>
            <br/><a routerLink="/signup" style="text-align:center">Don't have an account? SIGN UP Here</a>           
        </div>
    </mat-card>
</div>