<div class="container">
    <mat-card style="background-color: rgb(227, 241, 249);margin-top: 6%;">
        <div class="row">
            <h1 style="background-color: black; color: aliceblue; text-align:center;padding: 1.5% 0px 1.5% 0px;">SIGN UP
                HERE</h1>
            <form [formGroup]="userForm" (ngSubmit)="onUserSubmit()">

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>FirstName</mat-label>
                    <input matInput formControlName="firstName">
                    <mat-error *ngIf="userForm.invalid">FirstName Reqired & Numbers not allowed</mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>LastName</mat-label>
                    <input matInput formControlName="lastName">
                    <mat-error *ngIf="userForm.invalid">LastName Reqired & Numbers not allowed</mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="test@gmail.com" formControlName="email">
                    <mat-error *ngIf="userForm.invalid">Invalid Email Format</mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-error *ngIf="userForm.invalid">Password must contain atleast 6 Characters including 1
                        Uppercase, 1 Lowercase, 1 special character, 1 Number</mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>UserName</mat-label>
                    <input matInput formControlName="userName">
                    <mat-error *ngIf="userForm.invalid">UserName contains only Alphabets and Numbers</mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Choose Date</mat-label>
                    <input type="date" matInput formControlName="dob">
                    <mat-error *ngIf="userForm.invalid">Invalid Date Format</mat-error>
                </mat-form-field>

                <div>
                    <button class="btn btn-dark" type="submit" [disabled]="!userForm.valid">
                        SIGNUP
                    </button>&nbsp;
                    <button class="btn btn-danger" type="button" (click)="onCancel()">
                        Cancel
                    </button>
                </div>
            </form>
            <br /><a routerLink="/login" style="text-align:center">Have an account? LOG IN Here</a>
        </div>
    </mat-card>
</div>