<br /><br /><br />

<!-- <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
    <label class="btn btn-outline-dark" for="btnradio1">Radio 1</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
    <label class="btn btn-outline-dark" for="btnradio2">Radio 2</label>
</div> -->

<button class="btn btn-outline-dark btnNewPost" type="button" (click)="onNewPost()">New
    Post</button><br /><br />

<button class="btn btn-outline-dark" type="button" (click)="onAllPost()"
    style="margin-left:2%;width: 10%;float: left;overflow: hidden;">All
    Post</button>

<button class="btn btn-outline-dark" type="button" (click)="onMyPost()"
    style="float:left;margin-left:2%;width: 15%;overflow: hidden;">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle"
        viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
    </svg> My Post
</button><br /><br />

<!-- <p class="topActions">Filter by Action&nbsp;
    <mat-button-toggle-group aria-label="Font Style">
        <mat-button-toggle value="likes" (click)="onTopAction('likes')">Like</mat-button-toggle>
        <mat-button-toggle value="dislikes" (click)="onTopAction('dislikes')">Dislike</mat-button-toggle>
    </mat-button-toggle-group>
</p> -->

<div class="btn-group topActions" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked (click)="onTopAction('likes')">
    <label class="btn btn-outline-dark" for="btnradio1">Like</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" (click)="onTopAction('dislikes')">
    <label class="btn btn-outline-dark" for="btnradio2">Dislike</label>
</div>

<div class="container" *ngIf="!myPostFlag">
    <div *ngFor="let row of postArr" class="manageDiv">
        <mat-card>
            <!-- <div>
                    <button mat-mini-fab color="primary" style="float:right;opacity: 0.7;" (click)="onEdit(row)"
                        *ngIf="row.authId == loginUserId">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil" viewBox="0 0 16 16" (click)="onEdit(row)">
                            <path
                                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                        </svg>
                    </button>
                    <button mat-mini-fab color="primary" style="float:right;opacity: 0.7;" (click)="onDelete(row)"
                        *ngIf="row.authId == loginUserId">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path
                                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                        </svg>
                    </button>
                </div> -->

            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu"
                style="float:right;" *ngIf="row.authId == loginUserId">
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="onEdit(row)">Edit</button>
                <button mat-menu-item (click)="onDelete(row)">Delete</button>
            </mat-menu>

            <mat-card-subtitle style="background-color: black; color: aliceblue;padding:2%;margin-right:20%;"> User
                : {{ row.userDetail[0].firstName }} {{ row.userDetail[0].lastName }}
            </mat-card-subtitle>
            <mat-card-title>Title : {{ row.title }}</mat-card-title>
            <mat-card-subtitle>Content : {{row.content}}</mat-card-subtitle>
            <mat-card-subtitle>Total Likes : {{row.totalLikes}}</mat-card-subtitle>
            <mat-card-subtitle>Total Dislikes : {{row.totalDislikes}}</mat-card-subtitle>

            <mat-card-actions>
                <button mat-button (click)="onLike(row)">LIKE
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                        <path
                            d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                    </svg>
                </button>

                <button mat-button (click)="onDislike(row)">DISLIKE
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-hand-thumbs-down-fill" viewBox="0 0 16 16">
                        <path
                            d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z" />
                    </svg>
                </button>
            </mat-card-actions>
        </mat-card>
        <br>
    </div>
</div>


<div class="container" *ngIf="myPostFlag">
    <div *ngFor="let row of postArr" class="myPostDiv">
        <mat-card *ngIf="row.authId == loginUserId">
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu"
                style="float:right;" *ngIf="row.authId == loginUserId">
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="onEdit(row)">Edit</button>
                <button mat-menu-item (click)="onDelete(row)">Delete</button>
            </mat-menu>

            <mat-card-subtitle style="background-color: black; color: aliceblue;padding:2%;margin-right:20%;"> User
                : {{ row.userDetail[0].firstName }} {{ row.userDetail[0].lastName }}
            </mat-card-subtitle>
            <mat-card-title>Title : {{ row.title }}</mat-card-title>
            <mat-card-subtitle>Content : {{row.content}}</mat-card-subtitle>
            <mat-card-subtitle>Total Likes : {{row.totalLikes}}</mat-card-subtitle>
            <mat-card-subtitle>Total Dislikes : {{row.totalDislikes}}</mat-card-subtitle>

            <mat-card-actions>
                <button mat-button (click)="onLike(row)">LIKE
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                        <path
                            d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                    </svg>
                </button>

                <button mat-button (click)="onDislike(row)">DISLIKE
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-hand-thumbs-down-fill" viewBox="0 0 16 16">
                        <path
                            d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z" />
                    </svg>
                </button>
            </mat-card-actions>
        </mat-card>
        <br>
    </div>
</div>